
<div class="loginform">
  <div class="login-container">
    <img  id="imagelogo" alt="" src="../../assets/logoW.jpg" />
  </div>
 
 
  <form action="/your-submit-endpoint" method="post">
    <div>
    
      <i class="bi bi-envelope"></i> <input id="emailInput" type="text" name="email" placeholder="Enter your email" class="form-input">
      <i class="bi bi-lock"> </i> <input id="passwordInput" type="password" name="password" placeholder="Enter your password" class="form-input">
  </div>
    <button type="submit" class="login-button">Login</button>
   </form>
    <a id="forgotPasswordLink" href="www.google.com" class="forgot-password-link">Forgot password?</a>
    <a id="createAccountLink" href="www.google.com" class="create-account-link">Create account</a>

  <div id="dontHaveAccount" class="dont-have-account">Don't have an account?</div>
  <div class="image-container"></div>
  <img class="rotated-image" src="../../assets/coverimage.jpg">
</div>

